body {
  background: url("../img/kingslanding.jpg") center center fixed no-repeat;
  -webkit-background-size: cover;
}

.result {
  display: none;
  text-align: center;
  margin: 2em;
  font-size: 24px;
  padding: 10px;
  background-color: rgba(0, 57, 77, 0.3);
}

.btn {
  margin-top: 10px;
}

.stark {
  font-family: Georgia, Times, serif;

}

.baratheon {
  font-family: "Lucida Grande", sans-serif;
  font-weight: lighter;

}

.lanister {

}

.targarian {

}

.tully {

}

.tyrell {

}

.greyjoy {
  
}

p {
  font-size: 18px;
}

img {
  padding: 20px;
  border-radius: 40px;
  width: 500px;
  height: auto;
}
